.carrossel_titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}
.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}


.card_descrição {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.5em;
}
.card_botoes {
    display: flex;
    justify-content: space-between;
}
.botoes {
    display: flex;
}

.card {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
.descrição_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descrição_titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;

    margin: 0.5em 0;
}

.descrição_titulo-texto {
    font-size: 14px;
}

.botoes_item {
    margin: 0 0.5em;
        
}
.botoes_ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}
/*carrosse dois*/

.carrossel_titulo-dois {
    color: var(--laranja);
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}

.star {
    margin: 0.5em 0;
}