.tópicos {
    background: var(--azul-degrade);
}
.topicos_titulos {
    color: var(--branco);
    text-align: center;
    font-weight: 300;
    padding: 0.5em;
    padding-top: 1.5em;
    margin-top: 1.6em;
  
}

.topicos_lista {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0.5em;
  justify-content: center;
}

.topicos_link {
   color: var(--branco);
   background-color: var(--laranja);
   text-decoration: none;
   padding: 1em;
   font-size: 14px;
   
    
}

@media screen and (min-width: 1024px) {
  .topicos_titulos {
    font-size: 24px;
  }
  .topicos_link {
    font-size: 24px;
  }
  
}